$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$sidebar-width: 25vw;

.sidebar-container {
  width: calc(#{$sidebar-width} + 100px);
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  overflow: hidden;
  transition: 0.5s;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
}